*{
    margin: 0;
}

.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
header{
    background-color: #FFFFFF;
    /* border: 1px solid red; */

}
header nav{
    display: flex;
    justify-content: space-between;
    padding: 16px 120px;
    align-items: center;
}
.list ul{
    list-style: none;
    display:flex;
    justify-content: space-between;
    gap: 32px;
    

}
.list ul a{
    text-decoration: none;
    color:#000000;
    font-weight: 500;
    font-size:16px;
    line-height: 152%;


}
.btn{
    background-color: #469165;
    font-size: 16px;
    font-weight: 600;
    color:#FFFFFF;
    border:none;
    border-radius: 5px;;
    padding: 12.5px 16px;
}
.btn:hover{
    color:blueviolet;
}
.btn1{
    background-color: #469165;
    font-size: 16px;
    font-weight: 600;
    color:#FFFFFF;
    border:none;
    border-radius: 5px;;
    padding: 16.5px 16.5px;
}

.btn1:hover{
    color:blueviolet;
}
.banner{
    background: url("../B13-A01-Knowledge-Vault/assets/hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.banner-container{
    width:100%;
    height: 676px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.banner-content{

    /* border:2px solid red; */
    /* margin: 116px 120px 180px 120px ; */
    width: 85%;
    max-width: 1360px;


}
.btn1 i {
  margin-left: 8px; 
}
.btn4 i {
  margin-right: 8px; 
}

.btn4:hover{
    color:blueviolet;
}

.btn2{
    display:flex;
    justify-content: center;
    align-items: center;
}
.btn20{
    background-color: #FFFFFF;
    color: #469165;
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 20px;
    margin-bottom: 24px;
}
.banner-info {
  width: 100%;
  max-width: 770px;
  margin: 0 auto;
  text-align: center;
}

.banner-info h1 {
  font-size: 72px;
  font-weight: 700;
  line-height: 84px;
  margin-bottom: 16px;
  color: #FFFFFF;
}


.banner-para {
  max-width: 1600px;
  margin: 0 auto; 
}

.banner-para p {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.6;
  text-align: center;
  color: #FFFFFF;
}

.btn3 {
  display: flex;
  justify-content: center;
  gap: 16px;
  padding-top:20px;
}
.btn4 { 
    background-color: transparent; 
    color: #FFFFFF; 
    border: 2px solid #FFFFFF; 
    border-radius: 5px; 
    padding: 12px 24px; 
    font-size: 16px; 
    font-weight: bold; 
    display: flex; 
    align-items: center; 
    cursor: pointer; }

.color-green{
    color:#469165;
}
.card-container{
    text-align: center;
    border: 1px solid red;
}
.card-structure h2{
    font-size: 48px;
    font-weight: 700;
    line-height: 100%;
    margin-top: 50px;
    margin-bottom: 16px;
}
.card-structure p{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #627382;
    margin-bottom: 44px;
}
.circle{
    background-color: #f95555;
    width:60px;
    height: 60px;
    border-radius: 50%;
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 70px auto 32px auto;
}
.card-info {
   width:85%;
   max-width: 1360px;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 24px;
   /* border: 1px solid blue; */
   margin: 0 auto;
}
.cards{
    width: 322px;
    height: 300px;
    text-align: center;
    border: none;
    border-radius: 5px;
    box-shadow: 8px 0px 50px 0px #0000001c;
}
.cards-h2 h2{
    font-size: 24px;
    font-weight: 600;
    margin: 16px 24px;
    
}
.brain-container{
    border: 1px black;
    width:85%;
    max-width: 1360px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap:60px;
    margin:120px auto;

}
.brain-solve h4{
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    font-style: medium;
}
.brain-solve h1{
    font-size: 48px;
    font-weight: 700;
    color:#001931;
    /* font-style: bold; */

}
.brain-solve p{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    font-style: normal;
    margin-top: 16px;
    margin-bottom: 40px;
    color:#627382;
}
.brain-ideas ul{
    list-style: none;
    margin-left:-41px;
}
.brain-ideas ul li span{
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    font-style: medium; 
    color:#001931; 
}
.ready-container{
    width:85%;
    max-width: 1360px;
    /* border: 1px solid black; */
    margin: 0 auto 120px auto;
    padding: 80px 40px;
    background-color: #F7F6F2;
    text-align: center;
}
.ready-container h1{
    font-size: 40px;
    font-weight: 700;
    line-height: 100%;
    font-style: bold; 
    color:#001931; 
    margin-bottom: 16px;
}
.ready-container p{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    font-style: normal;
    color:#627382;
    margin-bottom: 24px;
}
.ready-container .fixing{
    margin-top: 16px;
}
footer{
    background-color: #001931;
}
.last{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin: 120px;
    padding-top: 120px;
}
.last ul{
    list-style: none;
    display:flex;
    justify-content: space-between;
    align-items:center;
    margin-left:-35px;
    
}
.last ul li i:hover{
    color:rgb(47, 79, 59);
}
.last h3{
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    color: #FFFFFF;
}
hr {
    margin: 80px 120px 30px 120px;
    border: none;
    height: 1px;
    background-color: #e5e7eb30; 
}
footer p{
    text-align: center;
    color: #FAFAFA;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
